{% extends 'store/main.html' %}
{% load static %}
{% block title %}
ShopKart | Online Shopping
{% endblock title %}

{% block content %}
<section class="py-4 my-5" style="min-height:600px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">  {{product}} Details</h4>
        <hr style="border-color:#b8bfc2;">

      </div>
      <div class="col-4 my-3 pic-box">
          <img src="{{product.imageURL}}"  class="card-image-top" alt="{{product.name}}" height="300px" width="400px">
      </div>
      <div class="col-8 my-3">
          <h5 class="text-success">{{product | upper}}</h5>
          <p>{{product.vendor}}</p>
          <p>{{product.description}}</p>
          {% comment %} <h6 class="my-2 text-danger">Current Price : Rs. <s>{{product.original_price}}</s></h6> {% endcomment %}
          <h5 class="my-2 text-primary">Offer Price   : ${{product.price}}</h5>
          <div class="my-3">
            {% if product.quantity > 0 %}
              {% comment %} <p>
                <div class="input-group" style="width:150px">
                  <button class="input-group-text bg-success text-light" id="btnMinus" ><i class="fa fa-minus"></i></button>
                    <input type="text" name="qty" id="txtQty" value="1" class="form-control text-center">
                  <button class="input-group-text bg-success text-light" id="btnPlus"><i class="fa fa-plus"></i></button>
                </div>
              </p> {% endcomment %}

             <p><b>Stock Available : </b>{{product.quantity}}</p>
            <button data-product="{{product.id}}" id="customer-id" value="{{ request.session.customer_id|default:'AnonymousUser' }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

            {% else %}
            <button class="btn btn-secondary"><i class="fa fa-minus"></i> Out of Stock</button>
            {% endif %}
 
        {% if product.name in favorite_product_names %}
            <button data-product="{{ product.id }}" data-action="remove" class="btn-add-fav" data-product-id="{{ product.id }}" style="border:none;background-color:white;">
                <img src="{% static 'images/heart-solid.png' %}" alt="wishlist" height="30px" width="30px">
            </button>
        {% else %}
            <button data-product="{{ product.id }}" data-action="add" class="btn-add-fav" data-product-id="{{ product.id }}" style="border:none;background-color:white;">
                <img src="{% static 'images/heart-regular.png' %}" alt="wishlist" height="30px" width="30px">
            </button>
        {% endif %}          </div>
      </div>
    </div>
  </div>
</section>

 <script>
  var customerId =  document.getElementById('customer-id').value;

    document.addEventListener("DOMContentLoaded", function () {
        const favButtons = document.querySelectorAll(".btn-add-fav");
    
        favButtons.forEach((button) => {
            button.addEventListener("click", function () {
                const productId = this.getAttribute("data-product-id");
                const action = this.getAttribute("data-action");
    
                // Disable button to prevent multiple clicks during the request
                this.disabled = true;
    
                fetch("{% url 'updateFavorite' %}", {
                    method: "POST",
                    credentials: 'same-origin',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    body: JSON.stringify({ productId: productId, action: action }),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.status) {
                            if (action === "add" && data.status === "Item successfully added to favorites") {
                                // Update the button attributes and image
                                this.setAttribute("data-action", "remove");
                                this.querySelector("img").src = "{% static 'images/heart-solid.png' %}";
    
                                // Show alert after image change
                                setTimeout(() => {
                                    alert("Item added to your favorites!");
                                }, 50);
                            } else if (action === "remove" && data.status === "Item removed from favorites") {
                                // Update the button attributes and image
                                this.setAttribute("data-action", "add");
                                this.querySelector("img").src = "{% static 'images/heart-regular.png' %}";
    
                                // Show alert after image change
                                setTimeout(() => {
                                    alert("Item removed from your favorites!");
                                }, 50);
                            } else if (data.status === "Item already added to favorites") {
                                // If the item is already in favorites, show alert
                                setTimeout(() => {
                                    alert("This item is already in your favorites.");
                                }, 50);
                            }
                        } else {
                            alert(data.status); // Show server error message if any
                        }
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                        alert("Something went wrong. Please try again.");
                    })
                    .finally(() => {
                        // Re-enable the button after the request completes
                        this.disabled = false;
                    });
            });
        });
    });
        
    

</script>

{% endblock content %}
